<div class="block px-6 py-6 md:py-16 md:px-12">
   <div class="mb-2 grid gap-x-6 md:grid-cols-2 lg:grid-cols-2">
      <div class="p-4 text-[var(--light-color-1)]">
         <h1 class="text-2xl font-bold text-shadow-1">Unsere Verpackung,</h1>
         <h1 class="pb-2 text-2xl font-bold text-shadow-1">Ihre Sicherheit</h1>
         <p class="text-lg leading-6">
            Wir bieten maßgeschneiderte Versandverpackungen aus Wellpappe und
            durchdachte Lösungen im Archivierungs- und Umzugsbereich. Effizienz
            und Präzision stehen bei uns an erster Stelle.
         </p>
      </div>
      <div class="p-4 text-[var(--light-color-1)]">
         <h1 class="text-2xl font-bold text-shadow-1">Unsere Verpackung,</h1>
         <h1 class="pb-2 text-2xl font-bold text-shadow-1">Ihre Sicherheit</h1>
         <p class="text-lg leading-6">
            Wir bieten maßgeschneiderte Versandverpackungen aus Wellpappe und
            durchdachte Lösungen im Archivierungs- und Umzugsbereich. Effizienz
            und Präzision stehen bei uns an erster Stelle.
         </p>
      </div>
   </div>
</div>
