<div class="block py-6 text-[var(--light-color-1)]">
   <div class="mb-2">
      <h3 class="text-3xl font-bold">{{ 'products-headline' | translate }}</h3>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-4">
         <div class="flex flex-col">
            <div
               class="flex flex-row bg-[var(--dark-color-3)] p-1 box-shadow-tw-lg border-b-2 border-[var(--text-color-1)]">
               <i
                  class="text-3xl my-auto pl-2 fa-solid fa-box-open text-[var(--main-color)]"></i>
               <p class="text-2xl font-bold text-shadow-1 p-4">
                  {{ 'products-packaging' | translate }}
               </p>
            </div>
            <p class="p-4">
               {{ 'products-packaging-text' | translate }}
            </p>
         </div>
         <div class="flex flex-col">
            <div
               class="flex flex-row bg-[var(--dark-color-3)] p-1 box-shadow-tw-lg border-b-2 border-[var(--text-color-1)]">
               <i
                  class="text-3xl my-auto pl-2 fa-solid fa-boxes-packing text-[var(--main-color)]"></i>
               <p class="text-2xl font-bold text-shadow-1 p-4">
                  {{ 'products-store' | translate }}
               </p>
            </div>
            <p class="p-4">
               {{ 'products-store-text' | translate }}
            </p>
         </div>
         <div class="flex flex-col">
            <div
               class="flex flex-row bg-[var(--dark-color-3)] p-1 box-shadow-tw-lg border-b-2 border-[var(--text-color-1)]">
               <i
                  class="text-3xl my-auto pl-2 fa-solid fa-folder-closed text-[var(--main-color)]"></i>
               <p class="text-2xl font-bold text-shadow-1 p-4">
                  {{ 'products-archive' | translate }}
               </p>
            </div>
            <p class="p-4">
               {{ 'products-archive-text' | translate }}
            </p>
         </div>
         <div class="flex flex-col">
            <div
               class="flex flex-row bg-[var(--dark-color-3)] p-1 box-shadow-tw-lg border-b-2 border-[var(--text-color-1)]">
               <i
                  class="text-3xl my-auto pl-2 fa-solid fa-truck-fast text-[var(--main-color)]"></i>
               <p class="text-2xl font-bold text-shadow-1 p-4">
                  {{ 'products-moving' | translate }}
               </p>
            </div>
            <p class="p-4">
               {{ 'products-moving-text' | translate }}
            </p>
         </div>
      </div>
   </div>
</div>
