@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Black.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Bold.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Regular.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Medium.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Light.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'azo';
   src: url('./assets/fonts/AzoSans-Thin.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'k2d';
   src: url('./assets/fonts/K2D-Bold.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'k2d';
   src: url('./assets/fonts/K2D-Regular.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'k2d';
   src: url('./assets/fonts/K2D-Medium.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'k2d';
   src: url('./assets/fonts/K2D-Light.woff2') format('woff2');
   /* Add other properties like font-weight, font-style if needed */
   font-weight: 300;
   font-style: normal;
}
