<!-- https://tailwind-elements.com/docs/standard/navigation/footer/ -->

<!-- Footer container -->
<footer
   class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
   <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
   <div class="mx-6 py-10 text-center md:text-left">
      <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
         <!-- Products section -->
         <div class="">
            <h6
               class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
               Products
            </h6>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Angular</a
               >
            </p>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >React</a
               >
            </p>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Vue</a
               >
            </p>
            <p>
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Laravel</a
               >
            </p>
         </div>
         <!-- Useful links section -->
         <div class="">
            <h6
               class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
               Useful links
            </h6>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Pricing</a
               >
            </p>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Settings</a
               >
            </p>
            <p class="mb-4">
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Orders</a
               >
            </p>
            <p>
               <a
                  href="#!"
                  class="text-neutral-600 dark:text-neutral-200"
                  >Help</a
               >
            </p>
         </div>
         <!-- Contact section -->
         <div>
            <h6
               class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
               Contact
            </h6>
            <p class="mb-4 flex items-center justify-center md:justify-start">
               New York, NY 10012, US
            </p>
            <p class="mb-4 flex items-center justify-center md:justify-start">
               info@example.com
            </p>
            <p class="mb-4 flex items-center justify-center md:justify-start">
               + 01 234 567 88
            </p>
            <p class="flex items-center justify-center md:justify-start">
               + 01 234 567 89
            </p>
         </div>
      </div>
   </div>

   <!--Copyright section-->
   <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
      <span>© 2023 Copyright:</span>
      <a
         class="font-semibold text-neutral-600 dark:text-neutral-400"
         href="https://tailwind-elements.com/">
         BSL-Packaging
      </a>
   </div>
</footer>
