<div class="bg-slate-300 text-slate-600 text-xl font-semibold p-2">
   <ul class="flex justify-around">
      <li class="p-1 px-2 text-center">
         <span class="animated-text hover:text-slate-500"> Start </span>
      </li>
      <li class="p-1 px-2 text-center">
         <span class="animated-text hover:text-slate-500"> Products </span>
      </li>
      <li class="p-1 px-2 text-center">
         <span class="animated-text hover:text-slate-500"> Contact </span>
      </li>
   </ul>
</div>
