<nav
   class="relative text-[var(--light-color-1)] flex w-full flex-nowrap items-center justify-between lg:bg-transparent lg:flex-wrap lg:justify-start lg:py-4">
   <div class="flex w-full flex-wrap items-center justify-between">
      <div class="ml-2"></div>
      <button
         class="bg-[var(--dark-color-2)] block border-0 px-2 text-neutral-500 hover:no-underline hover:shadow-none py-2 focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
         type="button"
         (click)="toggleNavbar()"
         data-te-collapse-init
         data-te-target="#navbarSupportedContent3"
         aria-controls="navbarSupportedContent3"
         aria-expanded="false"
         aria-label="Toggle navigation">
         <!-- Hamburger icon -->
         <span class="[&>svg]:w-7">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               fill="currentColor"
               class="h-7 w-7">
               <path
                  fill-rule="evenodd"
                  d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd" />
            </svg>
         </span>
      </button>
   </div>
</nav>

<div
   class="navbar-container hide-navbar flex"
   [class.is-active]="navbarState">
   <div class="firm-logo"></div>
   <div class="flex-1">
      <div
         class="lg:bg-[var(--dark-color-2)] mb-4 pl-4 lg:mb-0 lg:p-2 lg:ml-5 lg:mr-5">
         <a
            class="block w-full p-0 lg:px-2 underline decoration-1 underline-offset-1 font-semibold"
            href="#">
            <i class="fa-solid fa-globe"></i>
            <span class="pl-2">Über Uns</span>
         </a>
      </div>
      <div
         class="lg:bg-[var(--dark-color-2)] mb-4 pl-4 lg:mb-0 lg:p-2 lg:ml-5 lg:mr-5">
         <a
            class="block w-full p-0 lg:px-2 underline decoration-1 underline-offset-1 font-semibold"
            href="#">
            <i class="fa-solid fa-boxes-stacked"></i>
            <span class="pl-2">Produkte</span>
         </a>
      </div>
      <div
         class="lg:bg-[var(--dark-color-2)] mb-4 pl-4 lg:mb-0 lg:p-2 lg:ml-5 lg:mr-5">
         <a
            class="block w-full p-0 lg:px-2 underline decoration-1 underline-offset-1 font-semibold"
            href="#">
            <i class="fa-solid fa-truck-fast"></i>
            <span class="pl-2">Dropshipping</span>
         </a>
      </div>
      <div
         class="lg:bg-[var(--dark-color-2)] mb-4 pl-4 lg:mb-0 lg:p-2 lg:ml-5 lg:mr-5">
         <a
            class="block w-full p-0 lg:px-2 underline decoration-1 underline-offset-1 font-semibold"
            href="#">
            <i class="fa-regular fa-address-card"></i>
            <span class="pl-2">Contact</span>
         </a>
      </div>
   </div>

   <div class="desktop-hidden">
      <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
         <p class="mb-4 flex items-center justify-center md:justify-start">
            <a href="mailto:info@bslpackaging.com">info&#64;bslpackaging.com</a>
         </p>
         <span>© 2023 Copyright:</span>
         <span class="font-semibold text-neutral-600 dark:text-neutral-400">
            BSL-Packaging
         </span>
      </div>
   </div>
</div>
