.translate-on-screen {
   animation: scrollAnimation 0.8s linear;
   animation-delay: inherit;
}

.test-two {
   float: right;
   opacity: 0;
}

@keyframes scrollAnimation {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Add this CSS in your component's CSS file or a global styles file */
.visible {
   opacity: 0;
   transition: opacity 0.5s ease-in-out; /* Customize animation duration and timing function */
}

.visible.show {
   opacity: 1;
}

.main-img {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('../../../../assets/old_city-skyline-leonardo-ai-dark.jpg');
   width: 100%;
   height: 50vh;
}
.overflow {
   overflow: visible;
   width: fit-content;
   word-break: keep-all;
   white-space: nowrap;
}

.test {
   background: rgb(31, 32, 33);
   background: linear-gradient(
      163deg,
      rgba(31, 32, 33, 0.5) 27%,
      rgba(216, 215, 201, 0) 100%
   );
}

.bg-dark-bg {
   display: inline-block;
   background: linear-gradient(
         to left,
         rgba(0, 0, 0, 0) 50%,
         var(--dark-color-2) 50%
      )
      right;
   background-size: 200%;
}
