<!-- Container for demo purpose -->
<div class="mx-auto">
   <!-- Section: Design Block -->
   <section class="">
      <div
         class="main-img lg:h-screen relative text-[var(--light-color-1)] box-shadow">
         <div class="flex flex-col justify-between w-full h-full">
            <app-navbar> </app-navbar>

            <div
               class="flex-1 flex flex-row font-[azo] font-light items-center">
               <div class="flex-1">
                  <div class="flex items-center flex-col">
                     <h1
                        class="text-3xl text-shadow bg-dark-bg"
                        [attr.data-loaded]="didLoad()">
                        BSL-Packaging
                     </h1>
                     <p
                        class="text-xl mb-4 text-shadow bg-dark-bg"
                        [attr.data-loaded]="didLoad()">
                        There is not a thing without Packaging.
                     </p>
                     <button
                        (click)="scrollToSection()"
                        class="contact-button p-2 font-semibold text-lg box-shadow-tw-lg">
                        {{ 'contact' | translate }}
                     </button>
                  </div>
               </div>
               <div class="flex-1"></div>
            </div>
         </div>
      </div>
   </section>
   <!-- Section: Design Block -->
</div>

<div class="flex flex-col items-center">
   <div class="px-[8%]">
      <app-products id="productsSection"></app-products>
      <app-catalog id="catalogSection"></app-catalog>
      <app-dropshipping id="dropshippingSection"></app-dropshipping>
      <!-- Container for demo purpose -->
      <app-contact id="contactSection"></app-contact>
   </div>
</div>
