<h1 class="text-stone-300 text-2xl font-bold mt-5 underline">
   Unsere Produkte
</h1>

<div
   class="p-4 my-4 flex-1 rounded-md bg-slate-700 shadow-md shadow-slate-600/50"
   appIntersectionObserver
   [AnimationIn]="animationIn"
   [AnimationOut]="animationOut"
   rootMargin="-130px 0px">
   <div class="flex sm:flex-row flex-col">
      <div>
         <div class="cardboard-image">
            <app-laser-line></app-laser-line>
         </div>
      </div>
      <div class="px-4 flex flex-col justify-center">
         <h2 class="text-stone-300 text-2xl font-bold underline">
            Unsere Produkte
         </h2>

         <p class="text-stone-300">
            The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English.
         </p>
      </div>
   </div>
</div>

<!-- <h1 class="text-stone-300 text-2xl font-bold mt-5 underline">
   Unsere Produkte
</h1>

<div
   class="p-4 my-4 flex-1 rounded-md bg-stone-300 shadow-md shadow-slate-500/50">
   <div class="flex">
      <div appScrollAnimation>
         <div class="cardboard-image"></div>
      </div>
      <p>test test</p>
   </div>
</div> -->
