.cardboard-image {
   height: 200px;
   width: 200px;
   background-size: 200px 200px;
   background-image: url('../../../../../assets/cardboard-box.png');
   animation: scrollAnimation 1.1s linear infinite;
   animation-play-state: paused;
   animation-delay: inherit;
}

@keyframes scrollAnimation {
   from {
      opacity: 1;
      transform: translateX(0%);
   }
   to {
      opacity: 0;
      transform: translateX(-100%);
   }
}
