<!-- Footer container -->
<footer class="bg-neutral-600 text-neutral-200">
   <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
   <div class="mx-4 py-5">
      <div class="flex flex-col items-center justify-center">
         <p class="mb-2 font-semibold text-lg">
            {{ 'contact' | translate }}
         </p>
         <p class="mb-2 font-semibold text-lg">BSL Packaging</p>
         <p class="mb-2">
            <a
               target="_blank"
               href="https://maps.google.com/?q=Sain-Junien-Straße 25, 90530 Wendelstein">
               <a
                  target="_blank"
                  href="https://maps.apple.com/maps?q=Sain-Junien-Straße 25, 90530 Wendelstein">
                  Sain-Junien-Straße 25, 90530 Wendelstein</a
               ></a
            >
         </p>
         <p class="mb-2">
            <a href="mailto:info@bslpackaging.com">info&#64;bslpackaging.com</a>
         </p>
         <p class="mb-2">
            <a href="tel:+4991291437258">+49 9129 143 72 58</a>
         </p>
         <p class="flex">
            <a href="tel:+4917643664263">+49 176 436 642 63</a>
         </p>
      </div>
   </div>

   <!--Copyright section-->
   <div class="bg-neutral-200 p-2 text-center dark:bg-neutral-700">
      <span>© 2023 Copyright:</span>
      <span class="font-semibold text-neutral-600 dark:text-neutral-400">
         BSL-Packaging
      </span>
   </div>
</footer>
