.translate-on-screen {
   animation: scrollAnimation 0.8s linear;
   animation-delay: inherit;
}

.test-two {
   float: right;
   opacity: 0;
}

@keyframes scrollAnimation {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Add this CSS in your component's CSS file or a global styles file */
.visible {
   opacity: 0;
   transition: opacity 0.5s ease-in-out; /* Customize animation duration and timing function */
}

.visible.show {
   opacity: 1;
}

.main-img {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('../../../../assets/old_city-skyline-leonardo-ai.jpg');
   width: 100%;
   height: 50vh;
}

.contact-button {
   background-color: var(--main-color);
   color: var(--light-color-1);
}
