<div class="flex flex-col gap-6 text-[var(--light-color-1)] mt-32 text-center">
   <div class="flex flex-col mb-8 flex-6">
      <h4 class="text-3xl font-bold text-shadow-1">
         {{ 'dropshipping-headline' | translate }}
      </h4>

      <div class="flex flex-col md:flex-row xl:flex-col gap-8">
         <p class="text-lg leading-6">
            {{ 'dropshipping-main-text-1' | translate }}
         </p>
      </div>
   </div>

   <div class="flex-6">
      <h5 class="text-3xl font-bold text-shadow-1">
         {{ 'dropshipping-benefits' | translate }}
      </h5>

      <p class="text-lg leading-6 mb-6">
         {{ 'dropshipping-main-text-2' | translate }}
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-shadow-1">
         <div class="bg-[var(--dark-color-3)] p-5 box-shadow-tw-lg text-center">
            <b class="text-[var(--main-color)] text-2xl">
               {{ 'dropshipping-benefit-head-1' | translate }}
            </b>
            <p>
               {{ 'dropshipping-benefit-text-1' | translate }}
            </p>
         </div>

         <div class="bg-[var(--dark-color-3)] p-5 box-shadow-tw-lg text-center">
            <b class="text-[var(--main-color)] text-2xl">
               {{ 'dropshipping-benefit-head-2' | translate }}
            </b>
            <p>
               {{ 'dropshipping-benefit-text-2' | translate }}
            </p>
         </div>

         <div class="bg-[var(--dark-color-3)] p-5 box-shadow-tw-lg text-center">
            <b class="text-[var(--main-color)] text-2xl">
               {{ 'dropshipping-benefit-head-3' | translate }}
            </b>
            <p>
               {{ 'dropshipping-benefit-text-3' | translate }}
            </p>
         </div>

         <div class="bg-[var(--dark-color-3)] p-5 box-shadow-tw-lg text-center">
            <b class="text-[var(--main-color)] text-2xl">
               {{ 'dropshipping-benefit-head-4' | translate }}
            </b>
            <p>
               {{ 'dropshipping-benefit-text-4' | translate }}
            </p>
         </div>
      </div>
   </div>
</div>
