<!-- Main navigation container -->
<nav
   class="mobile-hidden text-[var(--light-color-1)] flex w-full items-center md:py-4">
   <div class="flex w-full flex-wrap items-center justify-between px-3">
      <div class="logo-background-circle">
         <div class="firm-logo"></div>
      </div>
      <!-- Hamburger button for mobile view -->
      <button
         class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden"
         type="button">
         <!-- Hamburger icon -->
         <span class="[&>svg]:w-7">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               fill="currentColor"
               class="h-7 w-7">
               <path
                  fill-rule="evenodd"
                  d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd" />
            </svg>
         </span>
      </button>

      <!-- Collapsible navbar container -->
      <div class="hidden basis-[100%] items-end md:flex md:basis-auto">
         <!-- Left links -->
         <div class="mr-auto flex flex-row">
            <!-- About link -->
            <div
               class="border-l-2 box-shadow-tw bg-[var(--dark-color-2)] my-0 p-2 mx-5">
               <a
                  class="block w-full p-0 md:px-2 no-underline font-semibold"
                  href="#"
                  >{{ 'navbar-about' | translate }}</a
               >
            </div>
            <!-- Producs link -->
            <div
               class="border-l-2 box-shadow-tw bg-[var(--dark-color-2)] my-0 p-2 mx-5">
               <a
                  class="block w-full p-0 md:px-2 no-underline font-semibold"
                  href="#"
                  >{{ 'navbar-products' | translate }}</a
               >
            </div>

            <!-- Catalog link -->
            <div
               class="border-l-2 box-shadow-tw bg-[var(--dark-color-2)] my-0 p-2 mx-5">
               <a
                  class="block w-full p-0 md:px-2 no-underline font-semibold"
                  href="#"
                  >{{ 'catalog' | translate }}</a
               >
            </div>
            <!-- Dropshipping link -->
            <div
               class="border-l-2 box-shadow-tw bg-[var(--dark-color-2)] my-0 p-2 mx-5">
               <a
                  class="block w-full p-0 md:px-2 no-underline font-semibold"
                  href="#"
                  >{{ 'navbar-dropshipping' | translate }}</a
               >
            </div>
         </div>
      </div>
   </div>
</nav>

<div
   *ngIf="navbarState"
   (click)="toggleNavbar()"
   class="overlay backdrop-blur-sm"></div>

<div class="desktop-hidden">
   <nav
      class="fixed text-[var(--light-color-1)] flex w-full flex-nowrap items-center justify-between">
      <div class="flex w-full flex-wrap items-center justify-between">
         <div class="ml-2"></div>
         <div class="flex">
            <app-language-switcher></app-language-switcher>

            <button
               class="bg-[var(--dark-color-2)] block border-0 px-2 text-neutral-500 hover:no-underline hover:shadow-none py-2 focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden"
               type="button"
               (click)="toggleNavbar()">
               <!-- Hamburger icon -->
               <i class="fa-solid fa-bars px-1"></i>
            </button>
         </div>
      </div>
   </nav>

   <div
      class="navbar-container hide-navbar flex"
      [class.is-active]="navbarState">
      <div class="firm-logo m-auto"></div>
      <div class="flex-1">
         <!-- app.component.html (Main Navigation) -->
         <app-navbar-item
            link="productsSection"
            (itemClick)="toggleNavbar()"
            iconClass="fa-solid fa-globe"
            [text]="'navbar-about' | translate">
         </app-navbar-item>
         <app-navbar-item
            link="productsSection"
            (itemClick)="toggleNavbar()"
            iconClass="fa-solid fa-boxes-stacked"
            [text]="'navbar-products' | translate"></app-navbar-item>
         <app-navbar-item
            link="catalogSection"
            (itemClick)="toggleNavbar()"
            iconClass="fa-regular fa-book"
            [text]="'catalog' | translate"></app-navbar-item>
         <app-navbar-item
            link="dropshippingSection"
            (itemClick)="toggleNavbar()"
            iconClass="fa-solid fa-truck-fast"
            [text]="'navbar-dropshipping' | translate"></app-navbar-item>
         <app-navbar-item
            link="contactSection"
            (itemClick)="toggleNavbar()"
            iconClass="fa-regular fa-address-card"
            [text]="'contact' | translate"></app-navbar-item>
      </div>

      <div class="desktop-hidden">
         <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
            <p class="mb-4 flex items-center justify-center md:justify-start">
               <a href="mailto:info@bslpackaging.com"
                  >info&#64;bslpackaging.com</a
               >
            </p>
            <span>© 2023 Copyright:</span>
            <span class="font-semibold text-neutral-600 dark:text-neutral-400">
               BSL-Packaging
            </span>
         </div>
      </div>
   </div>
</div>
